<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Trello-Tp</title>

  <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">

  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/style.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    rel="stylesheet">
  <link href="lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
  <link href="lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="lib/angular-color-picker/dist/angularjs-color-picker.min.css" rel="stylesheet" />
  <link href="lib/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css" rel="stylesheet" />

  <script src="lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="lib/spin.js/spin.js" type="text/javascript"></script>
  <script src="lib/angular/angular.min.js" type="text/javascript"></script>
  <script src="lib/angular-route/angular-route.min.js" type="text/javascript"></script>
  <script src="lib/ngstorage/ngStorage.min.js" type="text/javascript"></script>
  <script src="lib/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="lib/angular-touch/angular-touch.min.js" type="text/javascript"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
  <script src="lib/angular-spinner/angular-spinner.min.js" type="text/javascript"></script>
  <script src="lib/angular-loading-spinner/angular-loading-spinner.js" type="text/javascript"></script>
  <script src="lib/chart.js/dist/Chart.min.js" type="text/javascript"></script>
  <script src="lib/angular-chart.js/dist/angular-chart.min.js" type="text/javascript"></script>
  <script src="lib/moment/moment.js" type="text/javascript"></script>
  <script src="lib/moment/locale/es.js" type="text/javascript"></script>
  <script src="lib/angular-moment/angular-moment.min.js" type="text/javascript"></script>
  <script src="lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js" type="text/javascript"></script>
  <script src="lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js" type="text/javascript"></script>
  <script src="lib/checklist-model/checklist-model.js" type="text/javascript"></script>
  <script src="lib/tinycolor/dist/tinycolor-min.js"></script>
  <script src="lib/angular-color-picker/dist/angularjs-color-picker.min.js"></script>

  <script src="app.js" type="text/javascript"></script>
  <script src="config/routes.js" type="text/javascript"></script>
  <script src="config/inicio.js" type="text/javascript"></script>
  <script src="config/interceptors.js" type="text/javascript"></script>

  <script src="services/core.service.js" type="text/javascript"></script>
  <script src="services/usuario.service.js" type="text/javascript"></script>
  <script src="services/tablero.service.js" type="text/javascript"></script>
  <script src="services/lista.service.js" type="text/javascript"></script>
  <script src="services/tarjeta.service.js" type="text/javascript"></script>
  <script src="services/comentario.service.js" type="text/javascript"></script>

  <script src="controllers/main.controller.js" type="text/javascript"></script>
  <script src="controllers/login.form.controller.js" type="text/javascript"></script>
  <script src="controllers/confirmar.controller.js" type="text/javascript"></script>
  <script src="controllers/error.controller.js" type="text/javascript"></script>
  <script src="controllers/tablero.controller.js" type="text/javascript"></script>
  <script src="controllers/card.controller.js" type="text/javascript"></script>
  <script src="controllers/registration.controller.js" type="text/javascript"></script>
  <script src="controllers/board.members.controller.js" type="text/javascript"></script>

</head>

<body ng-app="frontend">
  <span us-spinner="{radius:50,width:8, length:16, color:rgb(238,127,0)}"></span>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#!main">Trello</a>
        <!-- <img height="50" width="50" src="vendor/logoPlain.svg" alt="logo">  -->
      </div>

      <!-- Tecla del sidebar cuando se esta en la vista del tablero -->
      <div ng-show="inBoard" class="nav navbar-nav navbar-right">
        <a id="menu-toggle" class="btn" ng-click="sidebarVisible=sidebarVisible=='active'?'':'active'"><i
            class="fa fa-align-right"></i></a>
      </div>
      <div class="collapse navbar-collapse">
        <!-- Log information -->
        <ul ng-show="loggedIn" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false"><i class="glyphicon glyphicon-user"></i> {{loginData.lastname}},
              {{loginData.firstname}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-click="logout()"><a>Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div ng-view="" style="background-color: #{{colorFondo}};"></div>
</body>

</html>