<div class="modal-header">
    <button type="button" class="btn btn-sm btn-success pull-right" ng-click="done()"><i
            class="fa fa-close"></i></button>
    <h3 class="modal-title">Miembros del tablero</h3>
</div>
<div class="modal-body" id="boardMembersModal">
    <form class="form-horizontal" name="formUser" ng-submit="search()">
        <fieldset>
            <p ng-show="!found" class="center-text">
                El usuario no fue encontrado
            </p>
            <label class="col-md-2 control-label">Usuario</label>
            <div class="col-md-10">
                <input type="text" name="inputUsername" class="form-control" placeholder="Nombre de usuario"
                    ng-model="username" ng-model-options="{ debounce: 500 }" minlength="3" maxlength="25"
                    pattern="^\S*$" autofocus>
                <!-- Errores -->
                <span style="color:red" ng-show="formUser.inputUsername.$dirty && formUser.inputUsername.$invalid">
                    <span
                        ng-show="formUser.inputUsername.$error.minlength && !formUser.inputUsername.$error.required">El
                        nombre de usuario debe tener por lo menos 3 caracteres.</span>
                    <span ng-show="formUser.inputUsername.$error.pattern">El nombre de usuario no puede contener
                        espacios.</span>
                </span>
            </div>
        </fieldset>
        <!-- Miembros ya presentes -->
        <div class="member-section" ng-show="miembros.length > 1">
            <strong class="center-text">Miembros</strong>
            <div class="leave-space">
                <div class="member" ng-repeat="member in miembros"
                    ng-show="currentLoggedUser.idUser != member.idUser && member.idUser != creador.idUser">
                    <a ng-click="eliminateMember(member)">{{member.username}}</a>
                </div>
            </div>
        </div>
    </form>
</div>