<div class="modal-header">
    <button type="button" class="close" ng-click="cancelar()">&times;</button>
    <h3 class="modal-title">{{titulo}}</h3>
</div>
<div class="modal-body">
    <p>{{mensaje}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="elegir(true)">Si</button>
    <button type="button" class="btn btn-default" ng-click="elegir(false)">No</button>
</div>