<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-body">

			<div class="form-group">
				<label class="col-md-4 control-label">Usuario</label>
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder="User Name" ng-model="user.name" required
						autofocus>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Clave</label>
				<div class="col-md-8">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password"
						required>
				</div>
			</div>
			<a style="display: block; width: 100%; text-align: center;" ng-click="openRegistration()">Crear una
				cuenta</a>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-click="login()">Ingresar</button>
		</div>
	</fieldset>
</form>