<div id="boards-view" class="col-md-offset-3">
    <h3>Tableros marcados</h3>
    <div class="row ">
        <div class="col-md-8">
            <div class="col-md-3" ng-repeat="t in tableros" ng-if="t.marcado">
                <div class="well well-lg" style="background-color: #{{t.fondo}};" ng-click="enterBoard(t)">
                    <p style="font-size: 18px">
                        <strong>{{t.titulo}}</strong>
                    </p>
                    <i class="fa fa-star" ng-click="changeFav(t)"></i>
                </div>
            </div>
        </div>
    </div>

    <h3>Tableros</h3>
    <div class="row ">
        <div class="col-md-8">
            <!-- Tablero -->
            <div class="col-md-3" ng-repeat="t in tableros" ng-if="!t.marcado">
                <div class="well well-lg" style="background-color: #{{t.fondo}};" ng-click="enterBoard(t)">
                    <p style="font-size: 18px">
                        <strong>{{t.titulo}}</strong>
                    </p>
                    <i class="fa fa-star-o" ng-click="changeFav(t)"></i>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well well-lg" style="background-color: grey;" ng-click="createBoard()">
                    <div class="conainer">
                        <i class="fa fa-plus-circle" style="font-size: 50px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>