<div id="lists-view" style="overflow: auto; width: 100%;">
    <div id="sidebar-wrapper" ng-class="sidebarVisible">
        <ul class="sidebar-nav">
            <a id="menu-close" class="btn btn-default pull-right toggle" ng-click="toggleSidebar()"><i
                    class="glyphicon glyphicon-remove"></i></a>
            <li class="sidebar-brand">
                {{tablero.titulo}}
            </li>
            <li ng-click="changeBoardConfig()">
                <a>Cambiar configuracion del tablero</a>
            </li>
            <li ng-click="openMembers()">
                <a>Añadir/Quitar usuarios</a>
            </li>
            <li ng-click="deleteBoard()">
                <a style="color: #e22200; font-weight: bold;">Eliminar tablero</a>
            </li>
        </ul>
    </div>
    <!-- Listas -->
    <div class="list-section">
        <div class="current-lists list-dropzone" dnd-list="listas" dnd-allowed-types="['list']"
            dnd-horizontal-list="true">
            <div ng-repeat="list in listas" class="col-md-2 list" dnd-draggable="list" dnd-type="'list'"
                dnd-effect-allowed="move" dnd-moved="onMovedList($index)">
                <div class="well well-sm">
                    <label ng-hide="editingList(list)" ng-dblclick="editList(list)" style="width: 100%;">
                        <strong>{{list.titulo}}</strong>
                        <div class="btn btn-xs btn-default pull-right" ng-click="deleteList(list)"><i
                                class="fa fa-trash"></i></div>
                    </label>
                    <input ng-show="editingList(list)" ng-model="list.titulo" ng-blur="doneEditing(list)" autofocus />
                    <div dnd-list="list.tarjetas" class="card-dropzone" dnd-allowed-types="['card']"
                        dnd-inserted="onInsertedCard(index, list, item)">
                        <div ng-repeat="card in list.tarjetas" class="well well-sm card" dnd-draggable="card"
                            dnd-type="'card'" dnd-effect-allowed="move">
                            <div ng-click="openCard(list, card)">
                                {{card.titulo}}
                                <br>
                                <i class="fa fa-align-left" style="color: #797979;" ng-show="card.cuerpo != ''"></i>
                            </div>
                        </div>
                    </div>
                    <div class="well-sm new-card" ng-click="addCard(list)">
                        <i class="fa fa-plus" style="font-size: 15px;"></i>
                        Añadir una tarjeta
                    </div>
                </div>
            </div>
        </div>
        <!-- Add lista -->
        <div class="col-md-2 list current-lists">
            <div class="well well-sm new-list" ng-click="addList()">
                <i class="fa fa-plus" style="font-size: 15px;"></i>
                Añadir una lista
            </div>
        </div>
    </div>
</div>